In [1]:
import numpy as np
import tensorflow as tf
from tensorflow import keras
import pandas as pd
from matplotlib import pyplot as plt
%matplotlib inline

In [2]:
df = pd.read_csv("D:\\anacoda\\DL DATA NOTES\\insurance_data.csv")
df.head()

   age  affordibility  bought_insurance
0   22              1                 0
1   25              0                 0
2   47              1                 1
3   52              0                 0
4   46              1                 1

In [3]:
x = df[['age','affordibility']]

In [4]:
y = df['bought_insurance']

In [5]:
y

0     0
1     0
2     1
3     0
4     1
5     1
6     0
7     1
8     1
9     1
10    0
11    0
12    0
13    0
14    1
15    1
16    1
17    1
18    0
19    0
20    0
21    0
22    1
23    1
24    1
25    1
26    0
27    0
Name: bought_insurance, dtype: int64

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(x , y,test_size=0.2, random_state=25)  # random_state is compulsary

In [7]:
X_train_scaled = X_train.copy()
X_train_scaled['age'] = X_train_scaled['age'] / 100

X_test_scaled = X_test.copy()
X_test_scaled['age'] = X_test_scaled['age'] / 100

In [8]:
X_train_scaled

     age  affordibility
0   0.22              1
13  0.29              0
6   0.55              0
17  0.58              1
24  0.50              1
19  0.18              1
25  0.54              1
16  0.25              0
20  0.21              1
3   0.52              0
7   0.60              0
1   0.25              0
5   0.56              1
27  0.46              1
8   0.62              1
18  0.19              0
12  0.27              0
23  0.45              1
22  0.40              1
15  0.55              1
26  0.23              1
4   0.46              1

In [9]:
X_test_scaled

     age  affordibility
2   0.47              1
10  0.18              1
21  0.26              0
11  0.28              1
14  0.49              1
9   0.61              1

In [10]:
from tensorflow.keras.callbacks import TensorBoard

In [11]:
model = keras.Sequential([
    keras.layers.Dense(1, input_shape=(2,), activation='sigmoid', kernel_initializer='ones', bias_initializer='zeros')
])

model.compile(optimizer='adam',
              loss='binary_crossentropy',
              metrics=['accuracy'])
log_dir = "logs/fit/"
tensorboard_callback = tf.keras.callbacks.TensorBoard(log_dir=log_dir, histogram_freq=1)

model.fit(X_train_scaled, y_train, epochs=5 , callbacks=[tensorboard_callback])

D:\anacoda\ANACONDA\Lib\site-packages\keras\src\layers\core\dense.py:88: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Epoch 1/5
1/1 ━━━━━━━━━━━━━━━━━━━━ 1s 1s/step - accuracy: 0.5000 - loss: 0.7113
Epoch 2/5
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 53ms/step - accuracy: 0.5000 - loss: 0.7110
Epoch 3/5
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 56ms/step - accuracy: 0.5000 - loss: 0.7106
Epoch 4/5
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 61ms/step - accuracy: 0.5000 - loss: 0.7102
Epoch 5/5
1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 60ms/step - accuracy: 0.5000 - loss: 0.7098

In [12]:
%load_ext tensorboard
%tensorboard --logdir logs/fit

Reusing TensorBoard on port 6006 (pid 17072), started 0:02:48 ago. (Use '!kill 17072' to kill it.)

In [13]:
model.evaluate(X_test_scaled,y_test)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 136ms/step - accuracy: 0.5000 - loss: 0.7305

[0.730549156665802, 0.5]

In [14]:
model.predict(X_test_scaled)

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 54ms/step

array([[0.8111734 ],
       [0.76298267],
       [0.5630873 ],
       [0.7805034 ],
       [0.81420267],
       [0.8315921 ]], dtype=float32)

In [15]:
y_test

2     1
10    0
21    0
11    0
14    1
9     1
Name: bought_insurance, dtype: int64

In [16]:
# weight , bias = model.get_weights()
# weight

In [17]:
# bias

# Predection function

In [18]:
# def sigmoid(x):
#     import math
#     return 1 /(1+math.exp(-x))

In [19]:
# sigmoid(4)

In [20]:
# predection_function(.61 , 1)   # (X_test_scales Data)

#  Gradiant_method

## Log_loss function

In [21]:
# def  log_loss(y_true , y_predicted):
#     epsilon = 1e-15
#     y_predicted_new = [max(i ,epsilon) for i in y_predicted]
#     y_predicted_new = [min(i ,1-epsilon) for i in y_predicted_new]
#     y_predicted_new = np.array(y_predicted_new)
#     return -np.mean(y_true*np.log (y_predicted_new) +(1-y_true)*np.log(1-y_predicted_new) )

## sigmoid using numpy

In [22]:
# def sigmoid_numpy(x):
#     return 1/(1+np.exp(-x))

In [23]:
# sigmoid_numpy(np.array([2,4,5]))   # it use multiple Data

In [24]:
# def gradient_descent(age , affordibility , y_true , epochs):
#     w1 = w2 = 1
#     bias = 0
#     rate = 0.5
#     n = len(age) 
    
#       # or
# #     n = len(affordibility)  
    
#     for i in range (epochs):
#         weighted_sum = w1*age +w2*affordibility +bias
#         y_predicted  = sigmoid_numpy(weighted_sum)
        
#         loss = log_loss(y_true ,y_predicted)
        
#         w1d = (1/n)*np.dot(np.transpose(age) , (y_predicted -y_true))
#         w2d = (1/n)*np.dot(np.transpose(affordibility) , (y_predicted -y_true))
        
#         bias_d = np.mean(y_predicted - y_true)
        
#         w1 = w1-rate*w1d
#         w2 = w2-rate*w2d
#         bias = bias -rate * bias_d
        
#         print (f' range:{i} ,hh: {w1} , kk:{w2} , ll:{bias} ,mm: {loss}')
        
#     return w1 , w2 , bias

In [25]:
# gradient_descent(X_train_scaled['age'] ,X_train_scaled['affordibility'] , y_train , 1000)